<div class="dashboard-container">
  <div class="main-card">
    <div class="main-card-header">Mašine</div>


    <div class="add-form">
      <div class="form-field">
        <label>Naziv</label>
        <input type="text" [(ngModel)]="newMachine.name" />
      </div>

      <div class="form-field">
        <label>Tip</label>
        <input type="text" [(ngModel)]="newMachine.type"  />
      </div>

      <div class="form-field">
        <label>Efikasnost</label>
        <input type="number" [(ngModel)]="newMachine.efficiency" step="0.01" />
      </div>

      <div class="form-field">
        <label>Dnevni kapacitet</label>
        <input type="number" [(ngModel)]="newMachine.capacityPerDay" />
      </div>

      <div class="form-field">
        <label>Maksimalno radnika</label>
        <input type="number" [(ngModel)]="newMachine.maxWorkers" />
      </div>

   

      <div class="form-field">
        <label>Prekovremeni sati</label>
        <input type="number" [(ngModel)]="newMachine.maxOvertimeHours" />
      </div>

      <div class="form-field checkbox-field">
        <label>
          Dostupnost
          <input type="checkbox" [(ngModel)]="newMachine.availability" />
        </label>
      </div>

      <div class="form-field full-width">
        <button (click)="addMachine()">Dodaj mašinu</button>
      </div>
    </div>

<div class="table-wrapper">
    <table class="machines-table" *ngIf="machines && machines.length; else noData">
      <thead>
        <tr>
           <th>ID</th>
          <th>Naziv</th>
          <th>Tip</th>
          <th>Efikasnost</th>
          <th>Dnevni kapacitet</th>
          <th>Maksimalno radnika</th>
       
          <th>Dostupnost</th>
          <th>Prekovremeni sati</th>
          <th>Akcija</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let machine of machines">
            <td><input type="text" [(ngModel)]="machine.id" /></td>
          <td><input type="text" [(ngModel)]="machine.name" /></td>
               <td><input type="text" [(ngModel)]="machine.type" /></td>
          <td><input type="number" [(ngModel)]="machine.efficiency" step="0.01" /></td>
          <td><input type="number" [(ngModel)]="machine.capacityPerDay" /></td>
          <td><input type="number" [(ngModel)]="machine.maxWorkers" /></td>
          
          <td><input type="checkbox" [(ngModel)]="machine.availability" /></td>
          <td><input type="number" [(ngModel)]="machine.maxOvertimeHours" /></td>
          <td>
  <button class="save-btn" (click)="save(machine)">Sačuvaj</button>
  <button class="delete-btn" (click)="delete(machine)">Izbriši</button>
</td>

        </tr>
      </tbody>
    </table>
      </div>

    <ng-template #noData>
      <p>Nema dostupnih mašina.</p>
    </ng-template>
  </div>
</div>
