<div class="dashboard-container">
  <div class="main-card">
    <div class="main-card-header">Metode</div>

    <div class="stats-grid" *ngIf="methods && methods.length; else noData">
      <div *ngFor="let method of methods" class="stat-card">
        <div class="stat-title">{{ method.name }}</div>
        <div class="stat-desc">{{ method.description || 'No description' }}</div>
        <div class="stat-desc"> ID: {{ method.id || 'No ID' }}</div>
        <div class="stat-value">Efikasnost: {{ method.efficiencyFactor }}</div>
      </div>
    </div>

    <ng-template #noData>
      <p class="empty">Nema dostupnih metoda.</p>
    </ng-template>
  </div>
</div>
